<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <div class="dropdown">
            <ul class="dropdown__list js-dropdown">
                <li class="dropdown__item">
                    <div class="dropdown__title js-dropdown__title">
                        <div class="dropdown__name">
                            <div class="dropdown__number">1.</div>
                            <div class="dropdown__text">Накопления</div>
                        </div>
                        <div class="dropdown__arrow">
                            <svg class="dropdown__icon js-dropdown__rotate" width="12" height="8">
                                <use href="./assets/sprite.svg#icon-dropdown-arrow"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="dropdown__content js-dropdown__content">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est optio dolorem vel inventore obcaecati perferendis quo
                        blanditiis necessitatibus placeat! Expedita corrupti laboriosam asperiores quis quos maiores unde aliquid, nisi
                        repudiandae.
                    </div>
                </li>
                <li class="dropdown__item">
                    <div class="dropdown__title js-dropdown__title">
                        <div class="dropdown__name">
                            <div class="dropdown__number">2.</div>
                            <div class="dropdown__text">Инвестиции</div>
                        </div>
                        <div class="dropdown__arrow">
                            <svg class="dropdown__icon js-dropdown__rotate" width="12" height="8">
                                <use href="./assets/sprite.svg#icon-dropdown-arrow"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="dropdown__content js-dropdown__content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem accusamus mollitia eius iure architecto
                        velit ex sapiente dolores? Exercitationem at accusantium doloribus modi officiis tempora repellat dolorum
                        dignissimos quo. Excepturi!
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>
