:root {
	--font-primery: Roboto, 'Arial', sans-serif;
	--color-white: #ffffff;
	--color-black: #000000;
	--color-black2: rgba(1, 1, 13, 1);
	--color-blue: rgba(22, 23, 219, 1);
	--color-blue2: rgba(22, 23, 219, 0.18);
}
