:root {
	--bg-body-color: var(--color-white);
	--bg-primery-color: var(--color-black);
	--text-primery-color: var(--color-blue);
	--icon-primery-color: var(--color-black);

	//Text colors
	--t-accent-c-2: var(--color-green6);
	--t-primery-c: var(--color-black);

	//Surface colors
	--s-inverted-c: var(--color-white);
	--s-brand-c: var(--color-green6);
	--s-secondary-c-3: var(--color-gray5);
}
