:root {
	--bg-body-color: var(--color-white);
	--bg-primery-color: var(--color-black);
	--text-primery-color: var(--color-black2);
	--icon-primery-color: var(--color-black);

	//Text colors
	--t-accent-c-2: var(--color-green6);
	--t-primery-c: var(--color-white);

	//Surface colors
	--s-inverted-c: var(--color-white);
	--btn-primery-color: var(--color-blue);
}
