@import '../../../assets/global-style/mixin';

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 10px 30px;

	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	color: #ffffff;
	text-decoration: none;
	text-align: center;

	background-color: #00b2df;
	border: 1px solid #00b2df;
	border-radius: 8px;

	box-sizing: border-box;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
	-webkit-appearance: none; //убирает дефолтные стили в ios

	&__flex {
		display: flex;
		align-items: center;
	}

	&__el {
		&:not(:last-child) {
			margin-right: 8px;
		}
	}

	&__icon {
		fill: #ffffff;
		transition: 0.5s;
	}

	&:hover {
		color: #00b2df;
		background-color: #ffffff;

		.button1__icon {
			fill: #00b2df;
		}
	}

	&:active {
		opacity: 0.5;
		transition: 0.1s;
	}

	&:focus {
		opacity: 0.9;
		transition: 0.1s;
	}

	&.disabled {
		opacity: 0.6;
		pointer-events: none;
	}
}
