@import '../../../assets/global-style/mixin';

.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 15px 30px;
	text-transform: uppercase;
	max-height: 52px;
	margin: auto 0;

	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: var(--t-primery-c);
	text-decoration: none;
	text-align: center;

	background-color: var(--btn-primery-color);
	border: 1px solid var(--btn-primery-color);
	border-radius: 8px;

	box-sizing: border-box;
	cursor: pointer;
	outline: none;
	transition: 0.5s;
	-webkit-appearance: none; //убирает дефолтные стили в ios

	&__flex {
		display: flex;
		align-items: center;
	}

	&__el {
		&:not(:last-child) {
			margin-right: 8px;
		}
	}

	&__icon {
		fill: #ffffff;
		transition: 0.5s;
	}

	&:hover {
		color: var(--text-primery-color);
		background-color: var(--bg-body-color);
		.button1__icon {
			fill: #00b2df;
		}
	}

	&:active {
		opacity: 0.5;
		transition: 0.1s;
	}

	&:focus {
		opacity: 0.9;
		transition: 0.1s;
	}

	&.disabled {
		opacity: 0.6;
		pointer-events: none;
	}
}
