<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Title</title>
	</head>
	<body>
		<div id="example" class="popup js-popup">
			<div class="popup__container">
				<div class="popup__content js-popup-content">
					<div class="popup__close js-popup-close">
						<svg class="popup__close-icon" width="22" height="22">
							<use xlink:href="/assets/sprite.svg#closed"></use>
						</svg>
					</div>
					<h3 class="title">Заголовок</h3>
					<p class="text">Текст</p>
				</div>
			</div>
		</div>
	</body>
</html>
