<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <div class="cell js-cell" data-class="CellSelect" data-name="ContractId">
            <div class="cell__content">
                <div class="cell__border-box">
                    <div class="cell__border-left"></div>
                    <div class="cell__border-content">
                        <label for="ContractId" class="cell__name js-cell-name">
                            <svg class="cell__name-successful" width="14" height="14">
                                <use href="/assets/sprite.svg#icon-successful"></use>
                            </svg>
                            <svg class="icon icon--red cell__name-star" width="11" height="10">
                                <use href="/assets/sprite.svg#icon-required-star"></use>
                            </svg>
                            <span class="cell__name-text">Выберите из списка</span>
                        </label>
                    </div>
                    <div class="cell__border-right js-cell-border-right"></div>
                </div>
                <div class="cell__data">
                    <div class="cell-select js-cell-select">
                        <div class="cell-select__header js-cell-select-header">
                            <input class="cell-select__input js-cell-input" name="ContractId" type="hidden" value="" />
                            <span class="cell-select__current js-cell-select-current">Выберите из списка</span>
                            <svg class="cell-select__icon" width="18px" height="11px">
                                <use xlink:href="/assets/sprite.svg#cell-select-arrow"></use>
                            </svg>
                        </div>
                        <div class="cell-select__body js-cell-select-body">
                            <div class="cell-select__item js-cell-select-item" data-item-value="0">
                                <span class="cell-select__item-info js-cell-select-item-info">Пункт 1</span>
                                <svg class="cell-select__body-icon" width="11px" height="8px">
                                    <use xlink:href="#icon-cell-select-body"></use>
                                </svg>
                            </div>
                            <div class="cell-select__item js-cell-select-item" data-item-value="1">
                                <span class="cell-select__item-info js-cell-select-item-info">Пункт 2</span>
                                <svg class="cell-select__body-icon" width="11px" height="8px">
                                    <use xlink:href="#icon-cell-select-body"></use>
                                </svg>
                            </div>
                            <div class="cell-select__item js-cell-select-item" data-item-value="2">
                                <span class="cell-select__item-info js-cell-select-item-info">Пункт 3</span>
                                <svg class="cell-select__body-icon" width="11px" height="8px">
                                    <use xlink:href="#icon-cell-select-body"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="cell__label-buffer js-label-buffer"></div>
                </div>
            </div>
            <div class="cell__error-message js-error-message">Выберите продукт</div>
        </div>
    </body>
</html>
