<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
    </head>
    <body>
        <div class="tabs js-tabs" data-tab-name="clientCategory">
            <div class="tabs__list">
                <div class="tabs__name js-tabs-name active">Страхователь</div>
                <div class="tabs__name js-tabs-name">Застрахованный</div>
                <div class="tabs__name js-tabs-name">Действующий Выгодоприобретатель</div>
            </div>
            <div class="tabs__content">
                <div class="tabs__item js-tabs-item">Содержание 1 ого</div>
                <div class="tabs__item js-tabs-item">Содержание 2 ого</div>
                <div class="tabs__item js-tabs-item">Содержание 3 ого</div>
            </div>
        </div>
    </body>
</html>
